<!--
@Author: deepak
@Date:   2017-01-07T11:50:53+11:00
@Last modified by:   deepak
@Last modified time: 2017-01-14T19:39:48+11:00
-->

<!-- Define your custom element -->

<template id="formHolder">
  <style>
  .fname{
    width:200px;
    height:30px;
    font-size:var(--main-font-size);
  }
  .colorRed{
    color:red;
  }
  </style>
  <h1>this is formholder</h1>
  <input class="fname colorRed" type="text" placeholder="fname type here"/>
  <input class="lastname" type="text" placeholder="lname type here"/>
</template>

<script src="template.js"></script>
